[Unit]
Description=Run Hourkey Zi Bai scheduler every minute

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=1s
Persistent=true
Unit=hourkey-mobile-zibai-push.service

[Install]
WantedBy=timers.target
